GOOGLE_API_KEY=
STADIA_API_KEY=
TRANSLOC_API_KEY=
CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,https://davidl72code-ezride-umass.hf.space,https://ezride-umass-boston-transportation.vercel.app
